.card {
  list-style: none;
}

.card__img-wrapper {
  position: relative;
  padding-top: 100%;
  margin-bottom: 10px;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}